build/
.idea/
/.gradle
/run
*.gz
/.gradle
run/logs/2024-05-26-7.log.gz
Aseoha/
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/checksums/sha1-checksums.bin
.gradle/7.3.3/checksums/md5-checksums.bin
.gradle/7.3.3/checksums/checksums.lock
